@model UserManagement.Models.Device

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="css/epoch.min.css">
<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd id="device">
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SensorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SensorType)
        </dd>
        <dt>
            Date
        </dt>
        <dd>
            <input type="text" id="datepicker">
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-default btn-block" id="showDetails">Anfrage</button>
    <p><a asp-action="Index">Back to List</a></p>
   <p><input type="button" value="Reload Page" onClick="window.location.reload()"></p> 
    <div id="myAlert" class="alert alert-danger fade" role="alert">
        <strong>Keine Daten vorhanden!</strong> <a href="#" class="close" data-dismiss="alert">&times;</a><br>
    </div>
</div>
<div class="panel-body">
    <div id="barChartDetails" class="epoch category10" style="width:1000px; height: 240px;"></div>
</div>
<div class="panel-body">
    <div id="chart" class="epoch category10" style="width:1000px; height: 240px;"></div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/js/d3.min.js"></script>
<script src="~/js/epoch.min.js"></script>

<script src="~/js/datePicker.js"></script>

