@model IEnumerable<UserManagement.Models.Device>

@{
    ViewData["Title"] = "Index";
}


@using Microsoft.AspNetCore.Identity
@using UserManagement.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<h2>Rückblick</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceName)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceId)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.SensorType)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorType)
            </td>

            <td>               
                <a asp-action="Details" asp-route-id="@item.DeviceId">Details</a>              
            </td>
        </tr>
}
    </tbody>
</table>
}
else
{
    <!-- /.panel -->
    <div id="page-wrapper">
        <h2>Bitte Registrieren!</h2>
        <div class="panel-body">
            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a> |
            <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>



        </div>
    </div>
        <!-- /.panel-body -->
}