@model IEnumerable<UserManagement.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h2>Sensoren</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceName)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceId)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.SensorType)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorType)
            </td>

            <td>               
                <a asp-action="Details" asp-route-id="@item.DeviceId">Details</a>              
            </td>
        </tr>
}
       
    </tbody>
</table>
@if (!Model.Any<UserManagement.Models.Device>())
{
    <div id="page-wrapper">
        <h1>Keine Devices vorhanden</h1>
        <p>Bitte an Admin wenden unter:</p>
        <p><a href="pa431kru@htwg-konstanz.de">Send an Email </a></p>
        </div>

        }

